<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <% # = pages_fields(f, @config.page(@page.template_name), @page) %>
  </div>

  <fieldset>
    <legend>Page Parts</legend>
    <%= f.fields_for :parts do |ff| %>
      <div class="field">
        <%= ff.label(ff.object.title) %><br />
        <%= page_attribute_form_element(ff, @page, @config) %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
