<%= link_to('Title And Body', main_app.page_path('title-and-body')) %>


<h1><%= @presenter.output(:page_title) %></h1>

<style>
  td {border: 1px solid black;}
</style>

<table>
  <tr>
    <td><%= @presenter.output(:column_one) %></td>
    <td><%= @presenter.output(:column_two) %></td>
    <td><%= @presenter.output(:column_three) %></td>
  </tr>
</table>